In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns

In [6]:
df=pd.read_csv("Social_Network_Ads (1).csv")
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [8]:
df.columns

Index(['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased'], dtype='object')

In [9]:
df.shape

(400, 5)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [13]:
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
User ID,400.0,1.569154e+07,71658.321581,15566689.0,15626763.75,15694341.5,15750363.0,15815236.0
Age,400.0,3.765500e+01,10.482877,18.0,29.75,37.0,46.0,60.0
EstimatedSalary,400.0,6.974250e+04,34096.960282,15000.0,43000.00,70000.0,88000.0,150000.0
Purchased,400.0,3.575000e-01,0.479864,0.0,0.00,0.0,1.0,1.0

In [15]:
df.corr()

C:\Users\admin\AppData\Local\Temp\ipykernel_932\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                  User ID       Age  EstimatedSalary  Purchased
User ID          1.000000 -0.000721         0.071097   0.007120
Age             -0.000721  1.000000         0.155238   0.622454
EstimatedSalary  0.071097  0.155238         1.000000   0.362083
Purchased        0.007120  0.622454         0.362083   1.000000

In [35]:
x=df.iloc[:,2:-1]
y=df['Purchased']

In [36]:
x.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [37]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [38]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=50)

In [39]:
x_train.head()

     Age  EstimatedSalary
145   24            89000
387   39            71000
44    28            84000
138   28            59000
43    30            15000

In [40]:
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor

In [49]:
decisiontr = DecisionTreeClassifier(max_depth=2,max_leaf_nodes=3)
decisiontr.fit(x_train, y_train)

DecisionTreeClassifier(max_depth=2, max_leaf_nodes=3)

In [50]:
y_pred_test=decisiontr.predict(x_test)
y_pred_train=decisiontr.predict(x_train)

In [51]:
from sklearn.metrics import accuracy_score,precision_score,recall_score
from sklearn.metrics import confusion_matrix, classification_report

In [58]:
print(accuracy_score(y_train,y_pred_train)*100,"%")

91.25 %

In [61]:
print(accuracy_score(y_test,y_pred_test)*100,"%")

92.5 %

In [64]:
decisiontr = DecisionTreeClassifier(max_depth=3,max_leaf_nodes=5)
decisiontr.fit(x_train, y_train)
y_pred_test=decisiontr.predict(x_test)
y_pred_train=decisiontr.predict(x_train)
print(accuracy_score(y_train,y_pred_train)*100,"%")
print(accuracy_score(y_test,y_pred_test)*100,"%")

91.875 %
91.25 %